/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root
{
  --mainColor: #1b4ab3;
  --mainColor1: #1a46ab;
  --whiteText: #fff;
}
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a
{
  text-decoration: none;
}
fa-icon
{
  color: var(--whiteText);
}
body
{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
