<section class="home">
  <div class="landing">

    <div class="banner">
      <img src="../../assets/img/banner.png" alt="banner">
    </div>

   <div class="content">
    <h1>API Test Market</h1>
     <a href="#product" class="text-center">Shop Now</a>
   </div>
  </div>

  <!-- Products -->

  <div class="main-page">
    <div class="container">
      <div class="title-page text-center">
        <h3>Products</h3>
        <div class="bar"></div>
      </div>

      <!-- All Product -->
      <div class="all-Product" id="product">
        <app-all-product></app-all-product>
      </div>
    </div>
  </div>

</section>
